@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Delete Student";
}

<h2>Confirm Delete</h2>
<h3>@Model.FirstName @Model.LastName (@Model.ContactId)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a class="btn btn-primary me-2" asp-controller="Contact" asp-action="Detail" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug">
        Cancel
    </a>
</form>