@model List<Contact>
@{
    ViewData["Title"] = "Contact Manager MVC";
}

@* <h2>Contact Manager</h2> *@
<a class="NewContact" asp-controller="Contact" asp-action="Add">Add New Contact</a>
<table class="table table-hover table-horizontal-only">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td><a asp-controller="Contact" asp-action="Detail" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">@contact.FirstName</a></td>
                <td><a asp-controller="Contact" asp-action="Detail" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">@contact.LastName</a></td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>@contact.Category.Title</td>
            </tr>
        }
    </tbody>
</table>
